a:link, a:visited, a:hover, a:active {
    color: #000;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 24px;
}

header {
    border-bottom: #999 1px solid;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 12px;
}

header span {
    color: #467575;
}

.bikes {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.bikes > div {
    border: #999 1px solid;
    border-radius: 6px;
    padding: 12px;
    text-align: center;
}

.bikes > div span {
    font-size: 400%;
}

.bike-icon {
    font-size: 1000%;
    margin: 0;
}