body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 24px;
}

header {
    border-bottom: #999 1px solid;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 12px;
}

header span {
    color: #467575;
}

form {
    margin: 24px 0;
}

form button {
    background-color: #467575;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 100%;
    padding: 16px;
}

form input {
    box-sizing: border-box;
    border: #467575 1px solid;
    border-radius: 0;
    font-size: 100%;
    padding: 15px;
}

.albums {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.albums > div {
    background: linear-gradient(to bottom, #fff -5%, #65A7A8 120%);
    padding: 12px;
    text-align: center;
}
